@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/slate.css";

:root {
}

html,
body {
  font-family: var(--font-ubuntu-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

.radix-themes {
  --default-font-family: var(--font-space-mono);
  --heading-font-family: var(--font-chakra-petch);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .backdrop-blur-subtle {
    backdrop-filter: blur(4px);
  }
}
